body{
    font-size: large;
    color: aliceblue;
    background-image: url("Images/back_cover.jpg");
    background-size: contain;
}

div {
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 2px dashed black;
    display: inline-block;
    font-size: large;
    padding-left: 5px;
    margin-left: 25px;
}

#box-1 {
    color: white;
    background-image: url("Images/Image-1.jpg");
    background-size: cover;
}

#box-2 {
    color: white;
    background-image: url("Images/Image-2.jpg");
    background-size: cover;
}

#box-3 {
    color: aliceblue;
    background-image: url("Images/Image-3.jpg");
    background-size: cover;
}

#box-4 {
    background-image: url("Images/Image-4.jpg");
    background-size: cover;
}