body {
    text-align: center;
    font-size: large;
}

div {
    height: 80px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
}

#container {
    width: 600px;
    height: 600px;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: start;
    /* align-content: start; */
}

#box-1 {
    background-color: aqua;
}

#box-2 {
    background-color: pink;
    height: 200px;
    /* align-self: flex-end; */
    flex-shrink: 2;
}

#box-3 {
    background-color: khaki;
    height: 120px;
}

#box-4 {
    background-color: indianred;
}

#box-5 {
    background-color: slateblue;
}